:root {
	--primary: orangered;
	--secondary: #ffc570;
	--background: #fff3ce;
	--text-copy-primary: #3d00ff;
}
@media (prefers-color-scheme: light) {
	:root{
    --background: #fff3ce;
    --secondary: #ffc570;
    --bg-background-tertiary: #ffd39c;
    --bg-background-form: #fff;
    --text-copy-primary: #3d00ff;
    --text-copy-secondary: #2b1d58;
    --border-border-color-primary: #ff7600;
}
}

@media (prefers-color-scheme: dark) {
	:root{--background:rgb(25, 16, 31);
	--secondary:#1c1123;
	--bg-background-tertiary:#000;--bg-background-form:#000;
	--text-copy-primary:#ff8b00;
	--text-copy-secondary:#e2e8f0;
	--border-border-color-primary:#ffc107;}
}

/* dark-orange {
    --background: #f52;
    --secondary: #fc953c;
    --bg-background-tertiary: #ffac93;
    --bg-background-form: #fff;
    --text-copy-primary: #4c0066;
    --text-copy-secondary: #000;
    --border-border-color-primary: #1a202c;
}*/

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;font-family: "Heebo",-apple-system,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	background-color: var(--background);color: var(--text-copy-secondary);
}

main {
	/* max-width: 37.5em;*/
}
/* 4 columns*/
div.four-col, article.four-col{
    display: inline-block;
    max-width: 500px;
    margin: 0.2rem;
    vertical-align: top;
}
.two-col{display: inline-block;
    max-width: 49%;
    margin: 0.2rem;}
p{max-width: 37.5em;}
p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--text-copy-primary);
}

a[href]:not(:hover) {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}
header {
    backdrop-filter: blur(10px);
	background-color: rgba(var(--background), 0.8);
}
article{     margin: auto;
    padding: 1em;
    max-width: 800px;
    width: 100%;}
main {
	padding-bottom: 2em;
}

main:first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav ul {
	padding: 0;
	list-style: none;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--text-copy-primary);
		backdrop-filter: blur(10px);
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
	border: 1px solid var(--text-copy-primary);
    background-color: var(--text-copy-primary);
    color: var(--background);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
}

input,
textarea {
	border: 1px solid var(--text-copy-primary);
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

h1, h2{font-family: "Secular One", serif;}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
