<section class="hero" style="background-image:url({{ cover }})">
<div class="content">
		<h1>{{ title }}</h1> 
	</div>
</section>
  
<style scoped>
.hero {
	display: grid;margin: auto;
    position: fixed;
    max-height: 100vh;
    top: 0px;
    z-index: -3;
}
/* 'hero' grid-area */
 .hero{background: var(--secondary)
background-position:cover;}

.content {
color: #fff;
    text-align: center;
    padding: 60px;
    background: rgba(0,0,0,0.2);
    WIDTH: 100vw;
    margin-left: 0;
    height: 395px;
}
/* responsive */
.content h1 {
	place-self: center;
	font-size: clamp(2rem, 10vw, 4rem);
	text-align: center;
}

section.article {
    overflow: hidden;
}
    </style>